# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/EclipseWorkspace/Server/Debug/server/main.d
/EclipseWorkspace/Server/Debug/server/server_thread.d
/EclipseWorkspace/Server/Debug/server/subdir.mk
/EclipseWorkspace/Server/Debug/sources.mk
/EclipseWorkspace/Server/server.log
/EclipseWorkspace/.metadata/.lock
/EclipseWorkspace/.metadata/.log
/EclipseWorkspace/.metadata/.mylyn/repositories.xml.zip
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.core/.log
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.core/Server.1489100531571.pdom
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.core/Server.language.settings.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.C
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.ui/Server.build.log
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/29/3087cb031d05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/4f/a05e041f1d05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/79/001124cf1c05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/86/e034c4c61c05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/c4/609758d71c05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.history/e5/80ab2f171d05001719eed65085c5a7b6
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.indexes/bd/history.index
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.indexes/bd/properties.index
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.indexes/properties.index
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Server/.markers
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Server.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prj-Server.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/EclipseWorkspace/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
/EclipseWorkspace/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/EclipseWorkspace/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
/EclipseWorkspace/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
/EclipseWorkspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Server/2017/3/10/refactorings.history
/EclipseWorkspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Server/2017/3/10/refactorings.index
/EclipseWorkspace/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.core/.log
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.linux_16/FP.local.files_0/node.properties
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.linux_16/H.local_16/node.properties
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.linux_16/node.properties
/EclipseWorkspace/.metadata/.plugins/org.eclipse.rse.ui/.log
/EclipseWorkspace/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/EclipseWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/EclipseWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/EclipseWorkspace/.metadata/version.ini
/EclipseWorkspace/RemoteSystemsTempFiles/.project
/EclipseWorkspace/Server/.cproject
/EclipseWorkspace/Server/.project
/EclipseWorkspace/Server/.settings/language.settings.xml
/EclipseWorkspace/Server/Debug/Server
/EclipseWorkspace/Server/Debug/makefile
/EclipseWorkspace/Server/Debug/objects.mk
/CodeBWorkspace/Client/Client.cbp
/CodeBWorkspace/Client/Client.depend
/CodeBWorkspace/Client/Client.layout
/CodeBWorkspace/Client/bin/Debug/Client
/CodeBWorkspace/Client/client.log
